<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="dropdown" style="margin-top:10px;margin-left:10px">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="d   ropdown" aria-expanded="false">
        Employees
    </button>
    <ul class="dropdown-menu" id="dropdown">
        <form method="POST">
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
            {% for employee in employees %}
            <li>
                <button type="Submit" class="dropdown-item" name="employee" value="{{ employee.id }}">
                    {{ employee.first_name }} {{ employee.last_name }}
                </button>
            </li>
            {% endfor %}
        </form>
    </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>
<script>
    function filterFunction() {
      var input, ul, li, b, i;
      input = document.getElementById("myInput").value.toUpperCase();
      div = document.getElementById("dropdown");
      b = div.getElementsByTagName("button");
      for (i = 0; i < b.length; i++) {
        txtValue = b[i].textContent || b[i].innerText;
        if (txtValue.toUpperCase().indexOf(input) > -1) {
          b[i].style.display = "";
        } else {
          b[i].style.display = "none";
        }
      }
    }

</script>

</body>
</html>
